# Default values for selfcare-uservice-party-management.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

namespace: selc

image:
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

commandConfig:
  command: [ "bin/pdnd-interop-uservice-party-management" ]
  args: [ "-Dconfig.override_with_env_vars=true" ]

imagePullSecrets:
  - name: regcred

nameOverride: ""
fullnameOverride: "pdnd-interop-uservice-party-management"

containers:
  portNumber: 8088

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext:
  runAsUser: 1001
  allowPrivilegeEscalation: false
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true

service:
  type: ClusterIP
  appPort: 8088
  appTargetPort: http
  monitoringPort: 9095
  monitoringTargetPort: monitoring

ingress:
  enabled: true
  className: ""
  annotations:
   kubernetes.io/ingress.class: "nginx"
   nginx.ingress.kubernetes.io/rewrite-target: "/pdnd-interop-uservice-$1/0.1/$2"
   nginx.ingress.kubernetes.io/ssl-redirect: "false"
   nginx.ingress.kubernetes.io/use-regex: "true"
   nginx.ingress.kubernetes.io/enable-cors: "true"
   nginx.ingress.kubernetes.io/cors-allow-headers: "local.cors.headers"
   nginx.ingress.kubernetes.io/cors-allow-origin: "local.cors.origins"
  hosts:
    - host: ""
      paths:
        - path: "/(party-management)/v1/(.*)"
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

config:
  APPLICATIONINSIGHTS_ROLE_NAME: "uservice-party-management"
  POSTGRES_SCHEMA: "party"
  TOKEN_VALIDITY_HOURS: "1140" # 60 days